<<<<<<< HEAD
@import 'header';
@import 'navbar';
@import 'footer';
@import 'home';
@import 'login';
@import 'signup';
@import 'esposide';
@import 'detail_esposide';
@import 'review';


body {
    background: linear-gradient(to right, rgb(4, 1, 51), rgb(23, 43, 39) 90%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 46.25em) {
    .navbar,
    .navbar h1,
    .navbar-links,
    .navbar a,
    .navbar a > i,
    .navbar a:hover {
      display: none ;
    }
    .container {
        margin-left: 20px;
    }

    .top-bar-search {
       margin-left: 0;
    }

    .top-bar-search button {
    display: none;
    }

    .top-bar-search input {
        width: 100%;
        margin-left: 0;
    }

    footer{
        margin-top: 0; 
        margin-left: 0;
    }
  }
=======
@import 'header';
@import 'navbar';
@import 'footer';
@import 'home';
@import 'login';
@import 'signup';
@import 'esposide';
@import 'detail_esposide';
@import 'review';
@import 'changePassword';

body {
    background: linear-gradient(to right, rgb(4, 1, 51), rgb(23, 43, 39) 90%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
>>>>>>> b1ca706f7aaab9cde5794f1db8777a182aac2907
