@import 'header';
@import 'navbar';
@import 'footer';
@import 'home';
@import 'login';
@import 'signup';
@import 'esposide';
@import 'detail_esposide';
@import 'review';
@import 'changePassword';

body {
    background: linear-gradient(to right, rgb(4, 1, 51), rgb(23, 43, 39) 90%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
