<div class="calendar">
    <div class="month">
        <div class="month-header">Available Podcasts in March 2024</div>
        <div class="days-of-week">
        <span>Sunday</span>
        <span>Monday</span>
        <span>Tuesday</span>
        <span>Wednesday</span>
        <span>Thursday</span>
        <span>Friday</span>
        <span>Saturday</span>
        </div>
        <div class="days">
        <div class="week">
            <div class="day"> 
            <a href="#" class ="blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class ="blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class ="blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class ="blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class ="blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">1</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class= "unavailable">
                <div class="day-number">2</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        <div class="week">
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">3</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">4</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">5</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class= "unavailable">
                <div class="day-number">6</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">7</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">8</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">9</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        <div class="week">
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">10</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">11</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">12</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">13</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">14</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">15</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">16</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        <div class="week">
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">17</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "unavailable">
                <div class="day-number">18</div>
                <div class="podcast-count">Unavailable</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">19</div>
                <div class="podcast-count">(10 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">20</div>
                <div class="podcast-count">(11 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">21</div>
                <div class="podcast-count">(9 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">22</div>
                <div class="podcast-count">(10 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">23</div>
                <div class="podcast-count">(8 podcasts)</div>
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        <!-- Add more weeks with days as needed -->
        <div class="week">
            <div class="day">
            <a href="#">
                <div class="day-number">24</div>
                <div class="podcast-count">(10 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">25</div>
                <div class="podcast-count">(13 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">26</div>
                <div class="podcast-count">(10 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">27</div>
                <div class="podcast-count">(7 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">28</div>
                <div class="podcast-count">(15 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">29</div>
                <div class="podcast-count">(9 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#">
                <div class="day-number">30</div>
                <div class="podcast-count">(18 podcasts)</div>
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        <div class="week">
            <div class="day">
            <a href="#">
                <div class="day-number">31</div>
                <div class="podcast-count">(20 podcasts)</div>
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <div class="day">
            <a href="#" class = "blank">
            </a>
            </div>
            <!-- Add more days with total number of podcasts as needed -->
        </div>
        </div>
    </div>
    </div>
</div>