<div class="container">
    <!-- Change Password -->
    <div class="wrapper">
        <h2 class="change-password" style="color: aliceblue;">Change Password</h2>
        <form id="change-password-form">
            <label for="current-password" style="color: aliceblue;">Current Password</label>
            <input type="password" id="current-password" name="current-password" placeholder="Current Password...">
            <div class="password error" style="color: red; font-size: 14px; margin-top: 5px; font-style: italic;"></div>

            <label for="new-password" style="color: aliceblue;">New Password</label>
            <input type="password" id="new-password" name="new-password" placeholder="New password...">
            <div class="newpassword error" style="color: red; font-size: 14px; margin-top: 5px; font-style: italic;"></div>
            
            <label for="confirm-password" style="color: aliceblue;">Confirm New Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Retype new password...">
            <div class="authpassword error" style="color: red; font-size: 14px; margin-top: 5px; font-style: italic;"></div>
            
            <button type="submit" id="change-password-button">Change Password</button>
        </form>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password.error');
    const newPasswordError = document.querySelector('.newpassword.error');
    const authPasswordError = document.querySelector('.authpassword.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const password = document.getElementById('current-password').value;
        const newPassword = document.getElementById('new-password').value;
        const authPassword = document.getElementById('confirm-password').value;

        const res = await fetch('/change-password', {
            method: 'post',
            body: JSON.stringify({ password, newPassword, authPassword }),
            headers:  {'Content-Type': 'application/json'}
        })
        const data = await res.json();
        console.log(data);

        if(data.error){
            if(data.error === 'Password is Incorrect'){
                passwordError.textContent = data.error;
            }
            else if (data.error === "Minimum password length is 8 characters"){
                newPasswordError.textContent = data.error;
            }
            else if (data.error === "Authentication password is incorrect"){
                authPasswordError.textContent = data.error;
            }
        }
        if(data.success){
            alert("Password updated successfully");
            window.location.href = '/';
        }
    });
</script>