<header>
    <div class="top-bar">
        <div class="top-bar-list top-bar-search" >
            <input type="text" placeholder="Search podcasts...">
            <button>Search</button>
        </div>
        <div class="top-bar-list top-bar-login-signup">
            {{#if user}}
            <div class="user-icon-wrapper" onclick="toggleOptions()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
                <div class="user-options" id="userOptions">
                    <ul>
                        <li><p style="cursor: default;">{{user.username}}</p></li>
                        <li style="padding: 10px 20px;"><a href="/change-password">Change Password</a></li>
                        <li style="padding: 10px 20px;"><a href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
            <script>
                function toggleOptions() {
                    var userOptions = document.getElementById("userOptions");
                    userOptions.classList.toggle("show");                    
                }
            </script>
            <script>
                function logout() 
                {
                    window.location.href = '/logout';
                }
            </script>
            {{else}}
            <button type="button" onclick="login()" style="margin-right: 16px; padding: 7px 14px;">Log in</button>
            <button type="button" onclick="signup()">Sign up</button>
            <script>
                function login() {
                    window.location.href = '/login';
                }
                function signup() {
                    window.location.href = '/signup';
                }
            </script>
            {{/if}}
        </div>
    </div>
</header>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentURL = window.location.href;
        if (currentURL.includes("/login") || currentURL.includes("/signup")) {
            document.querySelector(".top-bar-list.top-bar-search").style.display = "none";
            document.querySelector(".top-bar-list.top-bar-login-signup").style.display = "none";
        }
    });

</script>