<header>
    <div class="top-bar">
        <div class="top-bar-list top-bar-search">
            <input type="text" placeholder="Search podcasts...">
            <button>Search</button>
        </div>
        <div class="top-bar-list top-bar-login-signup">
            {{#if user}}
            <p>Welcome, {{user.username}}</p>
            <a href="logout"><button type="button" style="margin-right: 16px; padding: 7px 14px;">Log out</button></a>
            {{else}}
            <a href="login"><button type="button" style="margin-right: 16px; padding: 7px 14px;">Log in</button></a>
            <a href="signup"><button type="button">Sign up</button></a>
            {{/if}}
        </div>
    </div>
</header>